<%= form_for(@request) do |f| %>
  <p>
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
    <% if current_admin.role == "user" %>
      <%= f.hidden_field :user_id, :value => current_admin.id %>
    <% else %>
      <%= f.hidden_field :tutor_id, :value => current_admin.id %>
    <% end %>
  <p>
    <%= f.submit "Send" %>
  </p>
<% end %>