<%= action_title "Requests" %>

<% @requests.each do |request| %>
  <%= link_to(request, :class => "single-request") do %>
    <%= request.description %>

    <div class="container">
      Chats: <%= request.chats.count %>
    </div>
  <% end %>
<% end %>

<%= link_to "New Request", new_request_path, class: "new-request-button" %>