<%= action_title "Requests" %>

<% @requests.each do |request| %>
  <%= link_to(request, :class => "single-request") do %>
    <h3 class="request-title">*<%= request.title %>*</h3>
    <p class="user-request-creator"><%= request.user_id %></p>
    <p class="request-date"><%= request.created_at %></p>
    <p><%= request.description %></p>

    <div class="container">
      <p>Number of chats: <%= request.chats.count %></p>
    </div>
  <% end %>
<% end %>

<%= link_to "New Request", new_request_path, class: "new-request-button" %>