<%= action_title "Request" %>

<div class="show-single-request">
  <h3 id="title" class="request-title">*<%= @request.title %>*</h3>
  <p class="user-request-creator"><% @request_user_name = Admin.find(@request.user_id) %><%= @request_user_name[:email] %></p>
  <p id="category"><%= label_tag :category %>: <%= @request.category %></p>
  <p id="description"><%= @request.description %></p>

  <p><%= link_to "Edit Request", edit_request_path(@request) %></p>
  <p><%= link_to "Back", requests_path %></p><br>
  
  <h4>Chats
    <% if current_admin.role == "tutor" %>
      <%= link_to "New Chat", new_request_chat_path(@request), class: "new-request-button" %>
    <% end %>
  </h4>
  <% for chat in @request.chats %>
    <%= link_to([@request, chat], :class => "single-chat") do %>
      <p>Tutor: <% @chat_user_name = Admin.find(chat.user_id) %><%= @chat_user_name[:email] %></p>
      <p>Number of messages: <%= chat.messages.count %></p>
    <% end %>
  <% end %>
</div>