<%= action_title "Chat" %>

<%= label_tag :chat_id %>
<p id="request_id"><%= @chat.id %></p>
<%= label_tag :category %>
<p id="category"><%= @chat.category %></p>
<%= label_tag :content %>
<p id="description"><%= @chat.content %></p>

<%= link_to "Edit", edit_request_chat_path(@request, @chat) %>
<%= link_to "Back", request_chats_path(@request) %>

<% for message in @chat.messages %>
  <p><%= message.content %></p>
<% end %>

<%= form_for([@request, @chat, @message]) do |f| %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
    <%= f.hidden_field :user_id, :value => current_admin.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>