<%= action_title "Chat" %>

<div class="show-single-request ">
  <%= link_to "Edit", edit_request_chat_path(@request, @chat) %>
  <%= link_to "Back", request_chats_path(@request) %>

  <p id="description" class="single-message"><b>Sent <%= time_ago_in_words(@chat.created_at) %> days ago:</b> <%= @chat.content %></p>

  <% @chat.messages.each do |message| %>
    <p class="single-message"><b>Sent <%= time_ago_in_words(@chat.created_at) %> days ago:</b> <%= message.content %></p>
  <% end %>

  <br>

  <%= form_for([@request, @chat, @message]) do |f| %>
    <div class="field">
      <%= f.text_area :content, placeholder: 'Your message' %>
    </div>
      <%= f.hidden_field :user_id, :value => current_admin.id %>
    <div class="actions">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"><%= f.submit "SEND" %></div>
      </div>
    </div>
  <% end %>
</div>